<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          
        </div>
      </nav>
      <br>
  <div class="row">
    <div class="col-md-3">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sort the list
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" (click)="sortByFollowersDesc()" href="#">Followers Decreasing</a>
              <a class="dropdown-item" (click)="sortByFollowersAsc()" href="#">Followers Increasing</a>
              <a class="dropdown-item" (click)="sortByEngagementDesc()" href="#">Engagement Decreasing</a>
              <a class="dropdown-item" (click)="sortByEngagementAsc()" href="#">Engagement Increasing</a>
            </div>
          </div>
    </div>
    <!-- <div class="col-md-3">
        <button type="button" (click)="sortByFollowersAsc()" class="btn btn-outline-primary">Sort By Followers(Asc)</button>
    </div>
    <div class="col-md-3">
        <button type="button" (click)="sortByFollowersDesc()" class="btn btn-outline-primary">Sort By Followers(Desc)</button>
    </div>
    <div class="col-md-3">
        <button type="button" (click)="sortByEngagementAsc()" class="btn btn-outline-primary">Sort By Engagement(Asc)</button>
    </div>
    <div class="col-md-3">
        <button type="button" (click)="sortByEngagementDesc()" class="btn btn-outline-primary">Sort By Engagement(Desc)</button>
    </div> -->
  </div>
  <br>
  <div class="row">  
    <div class="col-md-3 lg-3" *ngFor="let array of arrayData | paginate: { itemsPerPage: 12, currentPage: p }">
        <div class="card" style="width: 18rem;">
            <img [src]="array.picture" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{array.fullName}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{array.username}}</h6>
              <p class="card-text">{{array.biography}}</p>
            </div>
        </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
